<!-- Add Bootstrap classes for styling -->

<h1 *ngIf="products.length == 0">Your cart is empty</h1>

<div class="container">
  <div class="row">
    <!-- Loop through each product -->
    <div class="col-md-12" *ngFor="let product of products">
      <div class="product-card">
        <div class="row">
          <!-- Product Image Column -->
          <div class="col-md-4">
            <img *ngIf="product.imageData" src="data:image/jpeg;base64,{{ product.imageData }}" alt="Product Image" class="product-image" />
          </div>

          <!-- Order Information Column -->
          <div class="col-md-8">
            <div class="product-details">
              <h2>{{ product.name }}</h2>
              <p>{{ product.description }}</p>
              <p>Price: ${{ product.price }}</p>
              <p>Quantity Ordered: {{ product.quantity }}</p>
              <p>Quantity: {{ product.maxQuantity }}</p>

              <!-- Discounted Price -->
              <span *ngIf="product.is_disc">Discounted Price: ${{ product.disc_price }}</span>

              <!-- Categories -->
              <div>
                Categories:
                <ul>
                  <li *ngFor="let category of product.productCategoryNames">{{ category }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Order Button -->
  <div class="row">
    <div class="col-md-12">
      <button *ngIf="products.length > 0" (click)="addAllProducts()" class="btn btn-primary">
        Add Order
      </button>
      <button *ngIf="products.length > 0" type="button" class="btn btn-danger" (click)="deleteCart ()">
        <i class="fas fa-trash-alt"></i> Delete Cart
      </button>
    </div>
  </div>
  
</div>
