<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 mr-1">
      <!-- Sidebar with checkboxes -->
      <div class="mb-4">
        <h5>Filter by Category</h5>
        <div class="list-group">
          <div class="list-group-item list-group-item-action" *ngFor="let category of categories" (click)="toggleCategorySelection(category.id)">
            <input class="form-check-input me-1" type="checkbox" name="category" [id]="category.id" 
                   [checked]="isCategorySelected(category.id)">
            {{ category.categoryName }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <!-- Product list -->
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let prod of filteredProductsList ? filteredProductsList : productsList">
          <!-- Product card -->
          <div class="card">
            <img *ngIf="prod.imageData" src="data:image/jpeg;base64,{{ prod.imageData }}" class="card-img-top" alt="Product Image">
            <div class="card-body">
              <h5 class="card-title">{{ prod.name }}</h5>
              <p class="card-text ellipsis">{{ prod.description }}</p>
              <p class="card-text"><small class="text-muted">Category: {{ prod.productCategoryName }}</small></p>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary" (click)="navigateToProductDetail(prod.id)">View Details</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
