<div *ngIf="product" class="product-details">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p>Description: {{ product.description }}</p>
        <p>Quantity Available: {{ product.quantity }}</p>
        <p>Price: ${{ product.price }}</p>
        <div class="form-group">
          <label for="orderQuantity">Order Quantity:</label>
          <input type="number" id="orderQuantity" [(ngModel)]="orderQuantity" [max]="product.quantity" [min]="1" class="form-control">
        </div>
        <!--<button class="btn btn-primary" (click)="orderProduct()">Order</button>-->
        <button class="btn btn-success" (click)="addToCart()">Add to Cart</button>
      </div>
      <div class="col-md-6">
        <img *ngIf="product.imageData" src="data:image/jpeg;base64,{{ product.imageData }}" alt="Product Image" class="img-fluid">
      </div>
    </div>
    <!-- Display other product details here -->
  </div>
</div>
