<nav *ngIf="userRole == 'admin' || userRole =='user'" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand" style="margin-left: 1rem;">Welcome, {{ userDisplayName }}</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="display: flex; justify-content: space-between;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navigateToProducts()">Products</a>
        </li>
        <li class="nav-item" *ngIf="userRole == 'admin'">
          <a class="nav-link" (click)="navigateToAddProduct()">Add-Product</a>
        </li>
        <li class="nav-item" *ngIf="userRole == 'admin'">
          <a class="nav-link" (click)="navigateToShipments()">Shipments</a>
        </li>
        <li class="nav-item" *ngIf="userRole == 'admin'">
          <a class="nav-link" (click)="navigateToUserList()">UsersList</a>
        </li>
        <li class="nav-item" *ngIf="userRole == 'user'">
          <a class="nav-link" (click)="navigateToCart()">Cart</a>
        </li>
        <li class="nav-item" *ngIf="userRole == 'user'">
          <a class="nav-link" (click)="navigateToOrderHistory()">Order History</a>
        </li>
        <li class="nav-item" *ngIf="userRole == 'user'">
          <a class="nav-link" (click)="navigateToProfile()">Profile</a>
        </li>
      </ul>
      <div class="nav-item" style="margin-right: 2rem;">
        <button class="btn btn-danger"(click)="logout()">Logout</button>
    </div>
    </div>
  </div>
</nav>
