.navbar {
    background-color: #0044cc !important; /* Set a darker blue background color */
    margin-bottom: 2rem;
}

.navbar .navbar-text {
    margin-right: 85%; /* Add some right margin for spacing */
    color: #fff; /* Set text color to white */
}
